{%extends "layout.html" %}
{% block body %}

<div class="intro route bg-image" style="background-image: url({{url_for('static',filename='img/ipl-fig.jpg')}})">
  <div class="owl-theme">
    <div class="owl-dots">
        <div class="owl-dot">
          <div class="paralax-mf">
            <div class="box-pl2">
              <h3>{{mod['name']}}</h3>
              <form action="{{url_for('get_ipl_fsp')}}" method="post" role="form" class="contactform">
                inning: <select type="integer" name="inning" required placeholder="1">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  </select>
                <hr>
                team1:<select name="team1" id="team1" required>
                  <option value="10">--select team1--</option>
                  {%for i,j in t.items()%}
                  <option value="{{i}}">{{j}}</option>
                  {% endfor %}
                  </select>
                  <hr>
                team2:<select name="team2" id="team2" required>
                  <option value="10">--select team2--</option>
                  {%for i,j in t.items()%}
                  <option value="{{i}}">{{j}}</option>
                  {% endfor %}
                    </select>  
                    <hr>
                    batting_team:<select name="batting_team" id="bt" required>
                      <option value="0">--select batting_team--</option>
                      {%for i in ba_t%}
                      <option value="{{i}}">{{i}}</option>
                      {%endfor%}
                        </select>  
                        <hr>
                  bowling_team:<select name="bowling_team" id="bo" required>
                    <option value="0">--select bowling_team--</option>
                    {%for i in bo_t%}
                    <option value="{{i}}">{{i}}</option>
                    {%endfor%}
                      </select>  
                      <hr>
                powerplay runs :  <input type="text" name="powerplay_runs" required placeholder="100">
                <hr>
                powerplay wickets :  <input type="text" name="powerplay_wickets" required placeholder="1">
                <hr>
                toss_winner :<select name="toss_win" id="team" required>
                  <option value="10">--select toss winner--</option>
                  {%for i,j in t.items()%}
                  <option value="{{i}}">{{j}}</option>
                  {% endfor %}
                    </select>  
                    <hr>
                toss_decision :<select name="team-1" id="team" required>
                  <option value="0">feild</option>
                  <option value="1">bat</option>
                    </select>   
              <input type="submit" class="button button-a button-big button-rouded">
              <div class="paralax-mf">
              </div>
              </form>
            <h3>Final predicted score is</h3>
            <h3>{{score}}</h3>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>


{%endblock%}