{%extends "layout.html" %}
{% block body %}

<div class="intro route bg-image" style="background-image: url({{url_for('static',filename='img/ipl-fig.jpg')}})">
  <div class="owl-theme">
    <div class="owl-dots">
        <div class="owl-dot">
          <div class="paralax-mf">
            <div class="box-pl2">
              <h3>{{mod['name']}}</h3>
              <form action="{{url_for('get_ipl_fsp')}}" method="post" role="form" class="contactform">
                inning: <select type="integer" name="inning" required placeholder="1">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  </select>
                <hr>
                team1:<select name="team-1" id="team" required>
                  <option value="0">Chennai Super Kings</option>
                  <option value="1">Delhi Capitals</option>
                  <option value="2">Gujarat Lions</option>
                  <option value="3">Kings XI Punjab</option>
                  <option value="4">Kolkata Knight Riders</option>
                  <option value="5">Mumbai Indians</option>
                  <option value="6">Pune Warriors</option>
                  <option value="7">Rajasthan Royals</option>
                  <option value="8">Royal Challengers Bangalore</option>
                  <option value="9">Sunrisers Hyderabad</option>
                  </select>
                  <hr>
                team2:<select name="team-1" id="team" required>
                  <option value="0">Chennai Super Kings</option>
                  <option value="1">Delhi Capitals</option>
                  <option value="2">Gujarat Lions</option>
                  <option value="3">Kings XI Punjab</option>
                  <option value="4">Kolkata Knight Riders</option>
                  <option value="5">Mumbai Indians</option>
                  <option value="6">Pune Warriors</option>
                  <option value="7">Rajasthan Royals</option>
                  <option value="8">Royal Challengers Bangalore</option>
                  <option value="9">Sunrisers Hyderabad</option>
                    </select>  
                    <hr>
                    batting_team:<select name="team-1" id="team" required>
                      <option value="0">Chennai Super Kings batting team</option>
                      <option value="1">Delhi Capitals batting team</option>
                      <option value="2">Gujarat Lions batting team</option>
                      <option value="3">Kings XI Punjab batting team</option>
                      <option value="4">Kolkata Knight Riders batting team</option>
                      <option value="5">Mumbai Indians batting team</option>
                      <option value="6">Pune Warriors batting team</option>
                      <option value="7">Rajasthan Royals batting team</option>
                      <option value="8">Royal Challengers Bangalore batting team</option>
                      <option value="9">Sunrisers Hyderabad batting team</option>
                        </select>  
                        <hr>
                power play score :  <input type="text" name="pps" required placeholder="100">
                <hr>
                power play wickets :  <input type="text" name="ppw" required placeholder="1">
                <hr>
                toss_winner :<select name="team-1" id="team" required>
                  <option value="0">Chennai Super Kings</option>
                  <option value="1">Delhi Capitals</option>
                  <option value="2">Gujarat Lions</option>
                  <option value="3">Kings XI Punjab</option>
                  <option value="4">Kolkata Knight Riders</option>
                  <option value="5">Mumbai Indians</option>
                  <option value="6">Pune Warriors</option>
                  <option value="7">Rajasthan Royals</option>
                  <option value="8">Royal Challengers Bangalore</option>
                  <option value="9">Sunrisers Hyderabad</option>
                    </select>  
                    <hr>
                toss_decision :<select name="team-1" id="team" required>
                  <option value="0">feild</option>
                  <option value="1">bat</option>
                    </select>   
              <button type="button" class="button button-a button-big button-rouded">Predict</button>
              <div class="paralax-mf">
              </div>
              </form>
            <h3>Final predicted score is</h3>
            <h3>{{score}}</h3>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>


{%endblock%}